.main-container {
    padding:180px 0 100px 0;
    background-image: url(../background.jpeg);
    background-size:cover;
    text-align: center;
    width:1230px;
}
.container {
    opacity: 0.7;
}
.container h1 {
    letter-spacing: 5px;
    border-bottom: 2px solid black;
}
.header-container {
    background-color:rgba(34, 49, 52, 0.9);
  z-index:10;
  top:0;
  height:65px;
  position: fixed;
  color: white;
  width:100%;
}
.left-logo {
    padding-left: 30px;
    float:left;
    margin-left: 50px;
    margin-right:50px;
}
.right-logo {
    float: right;
    background-color:rgba(255, 255, 255, 0.3);
  height:65px;
  margin-right:50px;
}
.right-logo a{
    color:white;
  display:block;
  line-height:65px;
  padding:0 25px;
}
.right-logo :hover{
    background-color:rgba(255, 255, 255, 0.5);
  transition:all 0.5s;
}
.photo-container{
    float:left;
}
.photo-text{
    float:right;
    width:500px;
}
.photo-text h1{
    border-bottom: 1px solid black;
}
.photo-text span{
    color:brown;
}


